body {
  font-family: "Arima", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Arima", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.name-highLight {
  color: rgb(105, 105, 250);
}
.dream-highLight,
.highLight {
  color: rgb(234, 180, 81);
}
.container {
  display: flex;
  margin-bottom: 100px;
}
.top-banner-section {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-section {
  background-image: url("./images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.experience-section {
  margin-bottom: 200px;
}
.experience-area {
  width: 100%;
  margin: auto;
  background-image: url("./images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left center;
}
.article-space {
  width: 50%;
  padding: 0 400px 0 200px;
}
.experience-article-space {
  width: 40%;
  padding: 10px 40px 10px 40px;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
}
.blog-1 {
  border-left: 10px solid;
  border-image-source: linear-gradient(to bottom, orange, tomato);
  border-image-slice: 20;
}
.blog-2 {
  border-left: 10px solid;
  border-image-source: linear-gradient(
    to bottom,
    rgb(105, 105, 250),
    blueviolet
  );
  border-image-slice: 20;
}
.images-space {
  padding: 10px 100px 0 5px;
}
.images-space img {
  width: 100%;
}
.hire_button {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(135deg, rgb(105, 105, 250), blueviolet);
  border-radius: 5px;
  color: aliceblue;
}
.resume-button {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(135deg, orange, tomato);
}
footer p {
  text-align: center;
}
